.container, .side, .content, .footer {
    border: 1px solid grey;
    margin: 5px;
    padding: 5px;
}

.side, .content, .footer {
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.side {
    width: 300px;
    height: 500px;
}

.content {
    width: auto;
    flex-grow: 1;
}

.footer {
    width: 100%;
}

p {
    font-size: 40px;
}
